
.cart-table-wrap{
  display: inline-block;
}

.cart-product-image {

  .product-image {
    width: 1.5em;
    line-height: 1.5em;
    box-sizing: border-box;
    font-size: 6em;
    text-align: center;
    border-radius: 6px;
    color: #03005d;
    background-color: #c7fcff;
    box-shadow: inset 0 0 100px 0px #0562a5;
    cursor: pointer;
  }
}

.cart-product-quantity {
  line-height: 1.5em;

    input {
      font-size: 2em;
      width: 2em;
      text-align: center;
      border-radius: .2em;
    }
}

.cart-row {
  border-bottom: 1px solid #ccc;
  td {
    vertical-align: middle;
  }

  .item-price {
    text-align: right;
    margin-right: 1em;
  }
  .item-subtotal {
    text-align: right;
    margin-right: 1em;
  }
}

.cart-table {
  border-collapse: collapse;
  border-radius: .2em;
  margin: 0 auto;

  td, th {
   padding: 1em;
  }

}

.cart-table-header-row {
  box-shadow: 0 0 80px 0px inset #bbb;
  font-size: 1.5em;
  border-radius: .25em;
}

.cart-table-footer-row {
  font-size: 1.5em;
}

td .cart-table-items-count, td .cart-table-total {
  font-size: 1em;
  margin-left: .5em;
  text-align: right;
  width: 2.5em;
  display: inline-block;
}

.cart-view-container {
  margin-bottom: 8em;

  article {
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 2em;
    margin: 1em;
    text-align: center;
  }
}

.empty-cart-message {
  text-align: center;
}

.cart-table-btn-wrap {
  text-align: right;
}

.remove-from-cart-btn, .update-item-quantity {
  vertical-align: top;
  margin-right: 1em;
}

.empty-cart-button {
  margin: 1em .5em;
}

.empty-cart-button, .remove-from-cart-btn {
  outline: none;
  background-color: #e00000;
  color: #eee;
  font-size: 1.25em;
  padding: .5em 1em;
  font-size: 1.1em;
  border-radius: .2em;

    &:hover {
      opacity: .9;
    }

    &:active {
      color: #fff;
      background-color: #b90000;
    }
}

.update-item-quantity {
  outline: none;
  background-color: #49b8e2;
  color: #03005d;
  font-size: 1.25em;
  padding: .5em 1em;
  font-size: 1.1em;
  border-radius: .2em;


    &:hover {
      opacity: .9;
    }

    &:active {
      color: #fff;
      background-color: #044c66;
    }
}