.checkout-container {
  width: 460px;
  margin: 0 auto;
  background-color: #abc9d8;
  border-radius: .25em;

  h1 {
    color: #333;
    font-size: 2em;
    text-align: center;
    background-color: #eee;
    padding: 1em;
    box-sizing: border-box;
    border-top-right-radius: .15em;
    border-top-left-radius: .15em;
  }
}

.checkout-form {
  width: 460px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1em;

  .submit-button-wrap {
    text-align: right;
  }

  button[type="submit"] {
    cursor: pointer;
    padding: .25em .5em;
    font-size: 1.25em;
    margin-top: 1em;
    border-radius:  .25em;
    color: #eee;
    background-color: #4093c3;
    
    &:hover {
      opacity: .8;
    }

    &:active {
      background-color: #224d67;
    }
  }

  .StripeElement {
    padding: .75em;
    box-shadow: inset 2px 2px 1px 0px #999;
    border-radius: .25em;
    background-color: #fff;
  }

  .required-error {
    color: #e63a3a;
    margin-right: .25em;
    float: right;
  }

  fieldset input {
    box-sizing: border-box;
    font-size: 1.25em;
    padding: .25em;
    border-radius: .25em;
    margin-top: 1em;
  }

  .name-address input {
    display: block;
    width: 100%;
  }

  .city-state {
    width: 100%;
    margin: 0 auto;

    .input-wrap {
      display: inline-block;
      width: 50%;
      height: 5.5em;
    }
  }

  .city-state input {
    width: 90%;
    display: block;

      &[name="address_state"]{
        margin-left: 10%;
      }

      &[name="address_city"] + span {
        margin-right: 10%;
      }
  }
}