nav {
  max-width: 1040px;
  margin: 0 auto;
}
.nav-list {
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav-item {
  display:  inline-block;
  margin-right: .5em;

  a {
    text-decoration: none;
    color: #333;
  }
}